/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama"); */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: black;
}
h1 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
}
h2 {
  font-size: 3rem;
  font-weight: 800;
  color: white;
}
h3 {
  font-size: 2rem;
  font-weight: 800;
  color: white;
}
h4 {
  font-size: 1.3rem;
}
p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.637);
}
/* shared styles */

.container {
  width: 95%;
  max-width: 1200px;
  margin: 35px auto;
  border-radius: 6px;
}
.dflex {
  display: flex;
}

.primary-button {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  color: white;
  border: none;
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary-button:hover {
  background: rgb(210, 63, 40);
}

.secondary-button {
  border-radius: 46px;
  background: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.secondary-button:hover {
  background: rgb(255, 255, 254);
  color: black;
}

/* navbar starts */
nav {
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  border: 1px solid rgba(250, 249, 249, 0.308);
  align-items: center;
  border-radius: 46px;
  padding: 12px 1rem 12px 0;
}
nav h3 {
  color: rgb(230, 83, 60);
  letter-spacing: 1px;
}
nav ul li a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
nav ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
nav .bars {
  display: none;
}
nav .bars i {
  color: white;
  font-size: 2rem;
  margin-top: 3px;
}
/* navbar ends */

/* hero section starts */
.heros-parrent {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.091) 50%,
    rgba(255, 255, 255, 0.03) 100%
  );
}
main .hero {
  justify-content: space-between;
  gap: 6rem;
  padding: 0 3rem;
}
.hero .text-area {
  width: 520px;
  flex-direction: column;
  gap: 2rem;
  margin: auto 0;
}
.hero .text-area h1 {
  line-height: 6rem;
}
.hero .text-area h1 span {
  font-family: "Miama", sans-serif;
  font-weight: 300;
  font-size: 9rem;
  margin-right: 0.5rem;
}
.btn-container {
  display: flex;
  gap: 1rem;
}

.img-container {
  position: relative;
}
.img-container p {
  font-size: 13px;
}
.free-videos,
.tutorial-videos {
  position: absolute;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
}
.free-videos {
  top: 135px;
  right: -20px;
}
.tutorial-videos {
  bottom: 75px;
  left: -85px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.tutorial-videos .tomato-circle {
  background-color: tomato;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

/* hero section ends */

/* change-habits section starts */
.change-habits {
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}
.change-habits .images-box {
  margin: 1rem 0;
  gap: 1rem;
  justify-content: space-between;
}
.change-habits .images-box .card{
  width: -webkit-fill-available;
  max-width: 18rem;
}
.images-box .card h4{
  margin-top: 2rem;
  margin-bottom: .6rem;
}
.change-habits .images-box img {
  border: 4px solid rgba(131, 131, 131, 0.204);
  border-radius: 50%;
}

/* Run an Extra Mile Easily section */
img {
  height: auto;
  width: 100%;
}
main .run-extra-mile {
  justify-content: space-around;
  background: rgb(34, 34, 34);
  border-radius: 18px;
  padding: 2rem;
}
main .run-extra-mile .text-area{
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .run-extra-mile .image-container {
  width: 360px;
  height: 300px;
  margin: auto 0;
  overflow: hidden;
  border-radius: 1rem;
}
main .run-extra-mile .image-container img {
    width: 300%;
    height: 300%;
    transform: translate(-32rem, -12rem);
}



/* bmi calculator section */

.bmi-calculator{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.bmi-calculator .calculator-header{
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bmi-calculator .calc-parent{
  background-color: rgb(34, 34, 34);
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}




 /* table chart */
 table {
  border-collapse: collapse; 
  border: 1;
  border-color: rgb(105, 105, 105);
  margin: 3rem 0;
  text-align: start;
}
th, td {
  text-align: start;
  padding: 1rem 3rem; 
}
.calc-parent .bmi{
  justify-content: space-between;
  align-items: center;
}
.calc-parent .calc{
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}




/* inputs */
.inputs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px; 
}
.inputs .input-row input,.inputs .input-row select, .input-row3 select{
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgb(163, 163, 163);
  padding: 14px 16px;
}
.text-indent{
  text-indent: 0.5rem;
}
.inputs .input-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .7rem;
}
.inputs .input-row3{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.input-row input,
.input-row select, .input-row3 select {
  border: none;
  outline: none;
}


/* ends bmi calculator section */


/* meet our team */

.meet-team{
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.meet-team .meet-images{
  background-color: rgba(128, 128, 128, 0.609);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  border-radius: 1rem;
}
.meet-team .meet-images .row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.meet-team .meet-images .row img{
  border-radius: 1rem;
  height: 100%;
  filter: brightness(80%);
}
.meet-team .meet-images .row .trainer{
  position: relative;
  height: 320px;
  
}
.meet-team .meet-images .row .name{
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  text-align: left !important;
}




/* footer section */
footer .container .part1 h2{
    color: rgb(230, 83, 60);
    letter-spacing: 1px;
  
}
footer .container{
  display: grid;
  grid-template-columns: 1fr .5fr .5fr;
  gap: 20px;
}
footer .container div > p{
  line-height: 2rem;
  margin-top: 2rem;
}
footer .container ul{
  list-style: none;
}
footer .container ul a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.556);
  line-height: 3rem;
  cursor: pointer;
}

.copyright{
  text-align: center;
  width: 90%;
  margin: 0 auto;
}



/* our offers */
 .our-offers{
  flex-direction: column;
  gap: 2rem;
}

.our-offers .text-area{
      text-align: center;
}
.our-offers .card-box {
  background-color: rgba(128, 128, 128, 0.062);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  border-radius: 1rem;
}
.our-offers  .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.our-offers .offer{
  padding: 3rem !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: gray 20px;
  background: #42444e88;
}
.our-offers .card-box .row .offer > ul li{
  letter-spacing: 2px;
}
.our-offers .card-box .row .offer .theh3and4{
  text-align: center;
  font-size: 3rem;
  color: rgb(230, 83, 60);
}


















































/* Small devices responsive */

@media (max-width: 576px) {
  /* shared styles */
  h2 {
    font-size: 2rem;
  }
  .primary-button {
    padding: 16px 20px;
    font-size: 0.8rem;
    width: 45%;
  }
  .secondary-button {
    padding: 12px 20px;
    font-size: 0.8rem;
  }
  /* nav */
  nav .bars {
    display: block;
  }
  nav ul {
    display: none;
  }

  /* hero section */
  section .hero {
    flex-direction: column;
    padding: 0;
  }
  .hero .text-area {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    margin: auto 0;
  }

  .hero .text-area h1 {
    font-size: 3rem;
    width: 80%;
    line-height: 4rem;
  }
  .hero .text-area h1 span {
    font-size: 5rem;
  }
  .hero .img-container {
    width: 100%;
  }
  .free-videos {
    top: 25px;
    right: 5px;
  }
  .tutorial-videos {
    left: 0;
    bottom: 60px;
  }
  .btn-container{
    justify-content: center;
  }
  .btn-container button{
    width: 45%;
  }
  /* change-habits */
  .change-habits .images-box {
    flex-direction: column;
    gap: 2rem;
  }
  .images-box .card{
    width: 80%;
    margin: 0 auto;
  }


  /* run-extra-mile section */
  .run-extra-mile{
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    
  }
  
  .run-extra-mile .text-area{
    gap: 2rem;
    width: 100% !important;
    margin: 0 auto;
  }
  .run-extra-mile .run-button{
    width: 100% !important;
  }
  .run-extra-mile .text-area p{
    width: 90%;
  }
  .run-extra-mile .image-container{
    width: 100% !important;
  }
  .run-extra-mile .image-container img{
    width: 100% !important;
    height: 100% !important;
    transform: translate(0,0) !important;
  }
  .run-extra-mile .primary-button{
    width: 100%;
  }






  /* bmi calc section start */
  .bmi-calculator .calc-parent {
    height: auto;
    flex-direction: column;
  }
  .bmi-calculator .calculator-header {
    width: 88% !important;
}
.bmi-calculator .primary-button{
  width: 60%;
}
.bmi .chart h3, .calc h3{
  font-size: 1.2rem;
}
  .calc-parent .bmi {
    flex-direction: column;
}
.bmi-calculator th,.bmi-calculator td {
  padding: 1rem 1rem;
}
.calc-parent .calc {
  width: 100%;
}
.bmi-calculator .calculator-header {
  width: 100%;
}
.inputs .input-row input, .inputs .input-row select, .input-row3 select {
  padding: 14px 0;
}
  /* bmi calc section end*/


/* our offers */
.our-offers .card-box {
  padding: 0;
}
.our-offers .row {
  grid-template-columns: repeat(1, 1fr);
}




/* footer */
footer .container{
  grid-template-columns: 1fr;
}
footer .container > div{
  margin: 1rem 0;
}
}



