@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}
h1{
    font-size: 4rem;
    font-weight: 900;
    color: white;
}
h2{
    font-size: 3rem;
    font-weight: 800;
    color: white;
}
h3{
    font-size: 2rem;
    font-weight: 800;
    color: white;
}
p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.637);
}
/* shared styles */

.container {
    width: 95%;
    max-width: 1200px;
    margin: 35px auto;
    border-radius: 6px;
    border: 1px solid red;
}
.dflex{
    display: flex;
}

.primary-button {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: white;
    border: none;
    padding: 12px 32px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.primary-button:hover {
    background: rgb(210, 63, 40);
}

.secondary-button {
    border-radius: 46px;
    background: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 12px 32px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.secondary-button:hover {
    background: rgb(255, 255, 254);
    color: black;
}


/* navbar starts */
nav{
    justify-content: space-between;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    border: 1px solid rgba(250, 249, 249, 0.308);
    align-items: center;
    border-radius: 46px;
    padding-right: 1rem;
}
nav h3{
    color: rgb(230, 83, 60);
    letter-spacing: 1px;
    
}
nav ul li a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

/* navbar ends */


/* hero section starts */
main .hero{
    justify-content: space-between;
    padding: 3rem;
    gap: 6rem;
}
.hero .text-area{
    width: 520px;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
}

.img-container{
    position: relative;
}
.img-container p{
    font-size: 13px;
}
.free-videos, .tutorial-videos{
    position: absolute;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.21);
}
.free-videos{
    top: 135px;
    right: 0px;
}
.tutorial-videos{
    bottom: 75px;
    left: -85px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.tutorial-videos .tomato-circle{
    background-color: tomato;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}




/* hero section ends */
